/*/main/*/
.main__order {
    display: block;
    width: 100%;
}

.order__header {
    font-size: 2.5rem;
    letter-spacing: 0.7rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
}

.order__items {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.order__item {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.even {
    flex-direction: row;
}

.odd {
    flex-direction: row-reverse;
}


.order__info {
    flex: 1 1 50%;
    position: relative;
    padding: 2em 3em;
    width: 50%;
    font-weight: 500;
    text-align: left;
    color: #000a12;
    background: rgba(233, 241, 248, 0.8);
    text-shadow: 1px 2px 3px grey;
}

.order__itemHeader {
    padding-bottom: 0.5rem;
}

.order__link {
    padding-top: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}

.order__linkItem {
    padding: 1rem 10rem;
    background: rgb(220, 226, 238);
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 3px;
    border-radius: 1rem;
    border: 1px black solid;
}

.order__contact {
    padding-top: 0.5rem;
}

.order__contact a {
    font-size: 1.2rem;
    color: #356490;
}
/*/main/*/

/*/combining css/*/
.order__header:hover,.order__itemHeader:hover, .order__linkItem:hover {
    color: rgba(250, 248, 248, 0.8);
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.order__items, .order__linkItem {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.3);
}

.order__contact, .order__contact a, .order__linkItem {
    text-decoration: none;
}

.order__header, .order__linkItem {
    text-shadow: 1px 2px 2px grey;
}

.even > .order__pic,.odd > .order__pic {
    width: 50%;
    height: 50%;
}
/*/combining css/*/

/*/handheld/*/
@media (max-width: 480px) {

    .odd > .order__pic,  .even > .order__pic {
        width: 100%;
        height: auto;
    }

    .order__header {
        margin-top: -2.5rem;
    }

    .order__linkItem {
        padding: 1rem 1.5rem;
        font-size: 1rem;
    }
}
/*/handheld/*/