body {
    overflow-x: hidden;
}


.main {
    backdrop-filter: blur(2px);
}

.main__header {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.7rem;
    margin-bottom: 3.5rem;
    margin-top: 2.5rem;
    text-shadow: 1px 2px 2px grey;
}

.main__header:hover {
    color: rgba(250, 248, 248, 0.8);
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.main__page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.page__block {
    margin-top: 8rem;
}

.page__photo img {
    width: 50vh;
    border-radius: 10px;
   background-size: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5);

}

.page__header {
    font-size: 3rem;
}

.page__header:hover {
    color: rgba(250, 248, 248, 0.8);
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.page__info {
    padding-top:0.5rem ;
    font-size: 1.5rem;
    padding-bottom: 8rem;
    text-shadow: 1px 2px 2px grey;

}

.page__info:hover {
    color: rgba(250, 248, 248, 0.8);
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.page__link a {
    margin-top: 1rem;
    padding: 0.4rem 4rem;
    background: rgba(233, 241, 248, 0.9);
    border-radius: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    border: 1px black solid;
    text-decoration: none;
    color: #000a12;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5);
}

.main__about {
    width: 100%;
    text-align: center;
    margin-top: -10rem;
}



.about__text {
    background-color: #dae7f0cc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin: 5rem 0;
    border-radius: 0;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5);
    transform: translateX(400%);
    transition: transform 1.2s ease;
    font-size: 1rem;
}

.about__text:nth-of-type(even) {
    transform: translateX(-400%);
}

.about__text.show {
    transform: translateX(0);
}

.about__text h1 {
    padding: 0 2rem 0 2rem;
    font-size: 1.2rem;
    color: black;
}

.about__line {
    margin: -30px auto 10px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    width: 95%;
}

/*/button/*/

#button {
    display: inline-block;
    background-color: rgb(101, 162, 189);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 80px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#button::after {
    content: " \2191";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}

/*/button/*/

@media (max-width: 480px) {


    .main__header {
        margin-top: 4vh;
    margin-bottom: 4vh;
        text-align: center;
        font-size: 2.5rem;
        letter-spacing: 0.7rem;
        text-shadow: 1px 2px 2px grey;
}

    .main {
        padding-top: 0;
    }
    .main__page {
        flex-direction: column-reverse;
        align-items: center;
    }

    .page__photo {
        width: 70vw;
    }

    .page__header {
        text-align: center;
        margin-top:-10vh ;
    }

    .page__info {
        text-align: center;
        padding-bottom: 4rem;
    }

    .main__about {
        margin-top: 0;
    }

    .ar {
       text-align: center;
    }
}



