* {
    box-sizing: border-box;
    color: #23282B
}

body {
    font-family: "Segoe Print" , sans-serif;
    margin: 0;
    background: url("images/wp3749524.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

main {
    min-height: calc(100vh - 3.5rem - 8rem);
    margin-top: 3.3rem;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #dae7f0cc;
    padding: 0.5rem 2rem;
    z-index: 60;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    justify-content: space-between;
    box-shadow: 0 5px 7px -5px #201A19;
    text-shadow: 1px 1px 1px grey;
}

.header_brand_link {
    color: #201a19;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    height: 2.4rem;

}

.header_brand_link_text {
    vertical-align: center;
    font-size: 1.3rem;
    font-style: oblique;
    text-shadow: 1px 1px 1px grey;

}

.header_brand_link_pic{
    width: 50px;
    vertical-align: middle;
}


.header_nav {
    display: flex;

}

.header_nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.header_nav_item {
    margin: 0 1rem;
}

.header_nav_item_link {
    text-decoration: none;
    color: #201a19;
    font-weight: bold;
    padding: 0.2rem 0;
}

.header_nav_item_link:hover,
.header_nav_item_link:active {
    color: #a07a75;
}

.footer {
    background: #dae7f0cc;
    padding: 0.8rem;
    margin-top: 4.1rem;
    box-shadow: 0px -5px 7px -5px #201A19;

}

.footer_links {
    display: flex;
}

.footer_link {
    padding-right: 30px;
}

.footer_link_pic {
    width: 40px;
    vertical-align: bottom;

}


@media (min-width: 40rem) {
    .footer_link {
        margin: 0 0.5rem;
    }

    .footer_links {
        flex-direction: row;
        justify-content: center;
    }
}
