@media only screen and (max-width: 480px) {

    .header_brand_link_text {
        display: none;
    }

    .header_brand_link_pic {
        margin-left: -1rem;
    }

    .header_nav_item {
        margin-right: -1rem;
        padding-right: -5px;
    }

    .header_nav_items {
    }

    .main_contacts_form_list_item_button  {
        margin-left:0;
    }

    .header_brand_link_text {
        display: none;
    }

    .header_brand_link_pic {
        margin-left: -1.7rem;
    }

    .header_nav_item {
        margin-right: -0.85rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe Print", sans-serif;

}

html, body {
    background: url("images/wp3749524.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;

}

.wrapper {

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    padding-top:8vh;
    flex: 1 0 auto;
}

@media only screen and (max-width: 480px) {
   .header {
       background: #a07a75;
   }
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #dae7f0cc;
    padding: 0.5rem 2rem;
    display: flex;
    letter-spacing: 2px;
    justify-content: space-between;
    box-shadow: 0 5px 7px -5px #201A19;
    text-shadow: 1px 1px 1px grey;

}

.header_brand_link {
    color: #201a19;
    text-decoration: none;

}

.header_brand_link_text {
    vertical-align: sub;
    font-size: 1.3rem;
    font-style: oblique;
    font-weight: bold;
    text-shadow: 1px 1px 1px grey;
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

.header_brand_link_pic {
    width: 50px;
    vertical-align: middle;

}


.header_nav {
    display: flex;

}

.header_nav_items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

}

.header_nav_item {
    margin: 0 1rem;
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.header_nav_item_link {
    text-decoration: none;
    color: #201a19;
    font-weight: bold;
}

.header_nav_item_link:hover,
.header_nav_item_link:active {
    color: #a07a75;
}

.footer {
    padding-top: 0.5rem;
    background: #dae7f0cc;
    flex: 0 0 auto;
    box-shadow: 0px -5px 7px -5px #201A19;

}

.footer_links {
    justify-content: center;
    display: flex;
}

.footer_link {
    margin:0 1.5rem 0 1.5rem;
}

.footer_link_pic {
    width: 40px;
}


