/* User styles */
@media screen and (min-width: 911px) {
    .ant-carousel {
        max-width: 900px;
    }
}

@media screen and (min-width: 641px) and (max-width: 910px) {
    .ant-carousel {
        max-width: 600px;
    }
}

@media screen and (max-width: 640px) {
    .ant-carousel {
        max-width: 300px;
    }
}

.portfolio_header {
    padding-top: 3rem;
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 2.5rem;
}

.wrp {
    text-align: center;
}

.portfolio_smallHeader {
    display: inline-block;
    padding: 0.5rem 5rem;
    font-weight: bold;
    background:rgba(233, 241, 248, 0.8);
    font-size: 1.2rem;
    letter-spacing: 3px;
    border-radius:1rem;
    text-shadow: 1px 2px 2px grey;
    border: 1px black solid;
    box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.3);
}


.ant-carousel {
    margin: 2rem auto 6rem auto;
    padding-top: 1rem;
    border: 1px solid #ccd;
    background-color: rgba(233, 241, 248, 0.8);
    box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.3);



}

.ant-carousel-element {
    width: 300px;
    text-align: center;
}

/* General styles */
.ant-carousel {
    width: auto;
    position: relative;
}

.ant-carousel-hider {
    overflow: hidden;
}

.ant-carousel-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

.ant-carousel-element {
    display: block;
    flex: 0 0 auto;
}

/* Navigation item styles */
div.ant-carousel-arrow-left,
div.ant-carousel-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32;
}

div.ant-carousel-arrow-left {
    left: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
}

div.ant-carousel-arrow-right {
    right: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
}

div.ant-carousel-arrow-left:hover {
    opacity: 1.0;
}

div.ant-carousel-arrow-right:hover {
    opacity: 1.0;
}

div.ant-carousel-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -3rem;
    z-index: 30;
    text-align: center;

}

span.ant-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer;
}