
.main_contacts {
    display: flex;
  justify-content: space-around;
}
.main_contacts_header {
    padding-top: 3rem;
  text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
   text-shadow: 2px 2px 2px grey;
}

.main_contacts_card {
    padding-top: 2rem;
    font-size: 1.5rem;
    list-style-type: none;
    background: rgba(189, 204, 212, 0.8);
    box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
    padding-right: 2rem;
    border-radius: 1rem;
    border: 1px black solid;
    text-shadow: 1px 2px 2px grey;
    text-align: center;
}

.main_contacts_card_item:last-child{
padding-bottom: 1rem;
}

.main_contacts_card_pic {
    width: 50px;
}

hr {
    margin: 20px 0;
    padding: 0;
    height: 10px;
    border: none;
    border-top: 1px solid #333;
    box-shadow: 0 10px 10px -10px #8c8b8b inset
}

.main_contacts_form {
    padding-top: 2rem;
    margin-left: 2rem;
    text-shadow: 1px 2px 2px grey;
}

.main_contacts_form_list_item_header {
    text-align: center;
    letter-spacing: 0.3rem;
}

.main_contacts_form_list {
    width:600px;
    list-style-type:none;
    list-style-position:outside;
    border-radius: 1rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
    margin:0;
    padding:0;
    background: rgba(189, 204, 212, 0.8);
    border: 1px black solid;
}

.main_contacts_form_list_item {
    list-style-type: none;
    position: relative;
    padding: 0.5rem;
    font-size: 1.1rem;
    margin-left: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.main_contacts_form_list_item_label {
    width:150px;
    display:inline-block;
    float:left;
    padding-left:3px;

}
.main_contacts_form_list_item_input {
    height:25px;
    width:220px;
    padding:5px 8px;
    border-radius: 0.3rem;
    background: whitesmoke;

}
.main_contacts_form_list_textarea {
    width:300px;
    border-radius: 0.5rem;
    background: whitesmoke;
}

.main_contacts_form_list_item_button {
    margin-left:156px;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-style: oblique;
    font-weight: bold;
    background: whitesmoke

}




