.order_block {
    display: block;
    width: 100%;
}

.header {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    padding-top: 2rem;
    text-align: center;
}

.order_block_content {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.order_block_content_item {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
}

.even {
    flex-direction: row;
}

.odd {
    flex-direction: row-reverse;
}

.even>img {
    width: 50%;
    height: 50%;
}
.odd>img {
    width: 50%;
    height: 50%;
}
.order_block_content_item_details {
    flex: 1 1 50%;
    position: relative;
    padding: 2em 3em;
    width: 50%;
    font-weight: 500;
    text-align: left;
    color: #000a12;
    background: #fafafa;
}
