/*/main/*/
.main__contacts {
    display: flex;
    justify-content: space-around;
}

.main__header {
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    text-shadow: 2px 2px 2px grey;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.contacts__card {
    width: 35vw;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.contacts__card > .contacts__item {
    list-style-type: none;
    font-size: 1.5rem;
}

.contacts__pic {
    width: 50px;
}

.contacts__pic:hover {
    transform: scaleY(1.2) scaleX(1.2);
}

.contacts__line {
    margin: 20px 0;
    padding: 0;
    height: 10px;
    border: none;
    border-top: 1px solid #333;
    box-shadow: 0 10px 10px -10px #8c8b8b inset
}

.contacts__form {
    width: 45vw;
}

.contacts__list > .contacts__item {
    margin-left: 0.5rem;
}

.contacts__header {
    letter-spacing: 0.3rem;
}

.contacts__list {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

.contacts__item {
    list-style-type: none;
    position: relative;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.contacts__label {
    width: 150px;
    display: inline-block;
    float: left;
    padding-left: 3px;
}

.contacts__input {
    height: 25px;
    width: 250px;
    padding: 5px 8px;
}

.contacts__textarea {
    width: 270px;
    resize: none;
}

.contacts__button {
    margin-left: 140px;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
    padding: 0.3rem 0.5rem;
    font-style: oblique;
    font-weight: bold;
}
/*/main/ */

/*/modal window/*/
.overlay {
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
}

.modal {
    max-width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    font-size: 1.2rem;
    padding: 30px;
    border-radius: 3px;
    background-color: rgb(221, 237, 245);
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}
/*/modal window/*/

/*/combining css/*/
.main__header:hover, .contacts__item:hover,
.contacts__header:hover, .contacts__label:hover {
    color: rgba(250, 248, 248, 0.8);
    webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.contacts__list, .contacts__card {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5);
    background: rgba(189, 204, 212, 0.85);
    border: 1px black solid;
    border-radius: 1rem;
}

.contacts__card, .contacts__form {
    text-shadow: 1px 2px 2px grey;
}

.contacts__input, .contacts__textarea, .contacts__button {
    background: whitesmoke;
    border-radius: 0.5rem;
}

.main__header, .contacts__card, .contacts__header, .modal {
    text-align: center;
}

.overlay, .modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    transition: 0.3s all;
}
/*/combining css/*/


/*/handheld/*/
@media only screen and (max-width: 480px) {

    .main__header {
        margin-top: -1rem;
        margin-bottom: 4rem;
    }

    .main__contacts {
        flex-direction: column;
    }

    .contacts__header {
        margin: 0 0.2rem;
    }

    .contacts__card {
        margin: 0 auto 4rem;
        width: 87vw;

    }

    .contacts__form {
        width: 87vw;
        margin: 0 auto 4rem;
    }

    .contacts__textarea {
        width: 90%;
    }

    .contacts__input {
        width: 85%;
    }

    .header_brand_link_text {
        display: none;
    }

    .header_brand_link_pic {
        margin-left: -1.7rem;
    }

    .header_nav_item {
        margin-right: -0.85rem;
    }

    .contacts__button {
        margin-left: 0;
    }

    .modal {
        width: 85vw;
    }
}
/*/handheld/*/



